@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');



body {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    color: #39353f;
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: #F6F3EC;
}

a {
    color: #39353f;
}

h1 {
    color: #39353f;
    text-transform: uppercase;


}

.header a {

    text-decoration: none;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 0px;
}

.header-content {
    margin: 40px 80px;
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

}

.header ul {
    display: flex;
    gap: 20px;
    overflow: hidden;
    height: 50px;

}

.header li {
    flex-shrink: 0;
    list-style-type: none;
    width: 180px;
    border-bottom: 1px solid;
    text-transform: uppercase;
    text-align: center;
    padding: 3px;


}

.header li:hover {
    border-bottom: 5px solid;
}

.logo {
    width: 200px;
    flex-shrink: 0;
    flex-grow: 0;
    filter: invert(25%) sepia(21%) saturate(2669%) hue-rotate(253deg) brightness(89%) contrast(87%);
}

.gallery {
    padding: 0px;
    columns: 4;
    column-gap: 10px;
    column-width: 300px;
    max-width: 85%;
    margin: 0px;
}

.gallery-item {
    width: 100%;
    padding: 0px;
    margin: 0px 20px 10px 0px;
    overflow: hidden;
    border-radius: 3px;
}


.gallery img {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    transition: transform .5s;

}

.gallery img:hover {
    transform: scale(1.2);
    overflow: hidden;
    border-radius: 3px;
}