@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');



body {
    padding: 0px;
    display: flex;
    margin: 0px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    color: #513D6E;
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: #FEF6F2;
    font-size: 20px;
    min-height: 100vh;
}

a {
    color: #513D6E;
}

h1 {
    color: #513D6E;
    text-transform: uppercase;
    text-align: center;

}

.header-content-wrapper {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.header a {

    text-decoration: none;
}

@media (max-width: 960px) {


    .nav_small {
        visibility: visible;
        height: 100%;
    }

    .header {
        display: flex;
        justify-content: stretch;
        width: 100%;
        flex-direction: row;
        align-items: center;
        margin: 0px;
    }

    .header ul {
        list-style-type: none;
    }

    .header-content {
        margin: 80px 40px;
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

    }

    .navigation {
        visibility: hidden;
    }

}

@media (min-width: 960px) {

    .sidebar {
        visibility: hidden;
        height: 0px;
    }

    .header-content {
        margin: 40px 80px;
        display: flex;
        flex-direction: column;
        width: 85%;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

    }



    .nav_small {
        visibility: hidden;
        height: 0;
    }

    .navigation {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        gap: 20px;
        overflow: hidden;
        height: 50px;

    }

    .navigation li {
        list-style-type: none;
        width: 180px;
        border-bottom: 1px solid #513D6E;

        text-transform: uppercase;
        text-align: center;
        padding: 3px;


    }

    .navigation li:hover {
        border-bottom: 5px solid #513D6E;
    }


}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #FEF6F2;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%
}

.logo {
    width: 200px;
    flex-shrink: 0;
    flex-grow: 0;
    filter: invert(25%) sepia(21%) saturate(2669%) hue-rotate(253deg) brightness(89%) contrast(87%);
}

.gallery {
    padding: 0px;
    width: 85%;
    max-width: 1400px;
    margin: 100px;
}



.gallery img {
    margin: 0px;
    padding: 0px;
    transition: transform .5s;
    border-radius: 3px;

}

.gallery img:hover {
    transform: scale(1.2);
    overflow: hidden;
    border-radius: 3px;
}

.content {
    margin: 0px 100px;
    max-width: 1000px;
    width: 85%;
}

.footer {
    background-color: #e7dbd5;
    padding: 40px;
    width: 100%;
    margin: 0px;
    text-align: center;
}