@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

html,
body {
    overflow-x: hidden;
}


body {
    padding: 0px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    color: #513D6E;
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: #FEF6F2;
    font-size: 20px;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;

}

a {
    color: #513D6E;
}

h1 {
    color: #513D6E;
    text-transform: uppercase;
    text-align: center;

}

.header-content-wrapper {
    /*prevents shorter pages from being too centered*/
    margin: 0px;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;

    align-items: center;
    justify-content: space-between;

}

.header {
    margin: 0px;
    display: flex;

}

.header a {

    text-decoration: none;
}

.header-content {
    margin: 40px 80px 40px 80px auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}

@media (max-width: 960px) {


    .nav_small {
        visibility: visible;
        height: 100%;
        width: 55px;
        margin-left: 20px;
    }


    .header ul {
        list-style-type: none;

    }




    .header-content {

        padding: 15px;
        display: flex;
        flex-direction: row;
        width: 100vw;
        max-width: 100vw;
        height: 100%;
        align-items: center;
        justify-content: space-between;


    }

    .navigation {
        visibility: hidden;
        width: 0px;

    }

    .navigation-wrapper {
        height: 10;
        width: 75px;
        margin: 0px;

    }
}

@media (min-width: 960px) {

    .sidebar {
        visibility: hidden;
        height: 0px;
    }


    .nav_small {
        visibility: hidden;
        height: 0;

    }

    .logo {
        margin: 3rem 0rem;

    }

    .header {
        margin-bottom: 3rem;
    }

    .navigation {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        gap: 20px;
        overflow: hidden;
        height: 50px;

    }

    .navigation li {
        list-style-type: none;
        width: 180px;
        border-bottom: 1px solid #513D6E;

        text-transform: uppercase;
        text-align: center;
        padding: 3px;


    }

    .navigation li:hover {
        border-bottom: 5px solid #513D6E;
    }


}

.navigation-wrapper {
    margin: 0px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 500px;
    max-width: 100vw;
    z-index: 999;
    background-color: #FEF6F2;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    font-size: 36px;
    margin: 0px;
    padding: 3rem;
}

.sidebar li {
    width: 100%;
    margin-bottom: 20px;
}

.logo {
    width: 200px;
    flex-shrink: 2;
    flex-grow: 0;
    filter: invert(25%) sepia(21%) saturate(2669%) hue-rotate(253deg) brightness(89%) contrast(87%);

}

.gallery {
    padding: 0px;
    margin-bottom: 3rem;
    width: 85%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
}



.gallery img {
    margin: 0px;

    padding: 0px;
    transition: transform .5s;
    border-radius: 3px;

}

.gallery img:hover {
    transform: scale(1.2);
    overflow: hidden;
    border-radius: 3px;
}

.content {
    margin: 0px 100px auto;
    max-width: 100vw;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content p {
    width: 100%;
    max-width: 1300px;
}

.footer {
    background-color: #e7dbd5;
    padding: 40px 0px;
    width: 100vw;
    margin: 0px;
    text-align: center;
}